
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="site-category">
  <center> <div class="trigger site-navigation"> <center>
    <li><a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a></li>
    <li><a href="/">Python</a>
      <ul>
            <li><a href="/Python/Crawler">Crawler</a></li>
            <li><a href="/Python/Django">Django</a></li>
            <li><a href="/Python/Tensorflow">Tensorflow</a></li>
        </ul>
    </li>
    <li><a class="page-link" href="{{site.url}}{{site.baseurl}}">Data Science</a></li>
        <ul>
          <li><a href="/DS/ML">Machine Learning</a></li>
        </ul>
      </li>
  </div>
</div>
