
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>

<ul class="wrapper site-category"> 
  <center>
    <li>
      <a class="page-link" href="https://j-shine.github.io/">HOME</a>
    </li>
    <span class="exclamationMark">/</span>
    <li>
      <a class="page-link" href="https://j-shine.github.io/about">ABOUT</a>
    </li>
    <span class="exclamationMark">/</span>
    <li class="ALGORITHM">
      <a class="page-link" href="https://j-shine.github.io/algorithm/barkingDog">ALGORITHM</a>
      <div class="down-content">
        <a class="page-link" href="https://j-shine.github.io/algorithm/barkingDog">BarkingDog</a>
        <a class="page-link" href="https://j-shine.github.io/algorithm/baekjoon-algorithm">BaekJoon Algorithm</a>
        <a class="page-link" href="https://j-shine.github.io/algorithm/etc">Etc</a>

      </div>
    </li>
    <span class="exclamationMark">/</span>
    <li class="ANDROID">
      <a class="page-link" href="https://j-shine.github.io/android/android">ANDROID</a>
      <div class="down-content">
        <a class="page-link" href="https://j-shine.github.io/android/android">Android</a>
      </div>
    </li>
    <span class="exclamationMark">/</span>
    <li class="GITHUB">
      <a class="page-link" href="https://j-shine.github.io/github/github">GITHUB</a>
      <div class="down-content">
        <a class="page-link" href="https://j-shine.github.io/github/github">GitHub </a>
        <a class="page-link" href="https://j-shine.github.io/github/github-blog">GitHub Blog</a>
      </div>
    </li>
    <span class="exclamationMark">/</span>
    <li class="DAILY-LOG">
      <a class="page-link" href="https://j-shine.github.io/daily-log/daily-log">DAILY-LOG</a>
      <div class="down-content">
        <a class="page-link" href="https://j-shine.github.io/daily-log/daily-log">Daily Log</a>
      </div>
    </li>
  </center>
</ul>
