
<div class="wrapper">
  <center> <a href="/index.html"><div class="site-title">   {{site.title}} </div></a></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="site-category">
  <ul class="trigger-site-navigation">
    <center><li><a class="page-link" href="https://j-shine.github.io/">HOME</a></li></center>
    <li><a href="/">Python</a>
      <ul>
            <li><a class="page-link" href="https://j-shine.github.io/android/android2">Andoroid2</a></li>
        </ul>
    </li>
  </ul>
</div>
